<!DOCTYPE html>
<html lang="en">
<head>
<style>
  footer
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#343a40;
    color:white;
    text-align: center;
  }
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Diabetes Predictor</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">&#11093 Diabetes Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home </a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Result</a>

          
          </div>
        </div>
      </nav>
    <center><h3>&#127822;Diabetes Predictor</h3></center>

{%  block content%}{%  endblock %}

<footer class="footer">
    <br><br>
    <center><div><span style="color:rgb(199, 194, 194);">© 2020 Copyright: </span>
        <span style="color: white;">DiabetesCare.com</span></div></center>
    <br>
    <br>
    </footer>
    </html>